<h1>Frequently Asked Questions</h1>

<div><h2>Am I eligible to claim refugee protection in Canada?</h3>
<p>Some people are not eligible to claim refugee protection in Canada.

Officers receiving your refugee claim will decide whether it is eligible for referral to the Immigration and Refugee Board of Canada (IRB), an independent administrative tribunal that makes decisions on immigration and refugee matters. The IRB decides who is a Convention refugee or a person in need of protection.

Your refugee claim may not be eligible for referral to the IRB if:
<ul>
<li>You have been recognized as a Convention refugee by another country to which you can return;</li>
<li>You have already been granted protected person status in Canada;</li>
<li>You arrived via the Canada-United States border;</li>
<li>You are not admissible to Canada on security grounds, or because of criminal activity or human rights violations;</li>
<li>You made a previous refugee claim that was found to be ineligible for referral to the IRB;</li>
<li>You made a previous refugee claim that was rejected by the IRB; or</li>
<li>You abandoned or withdrew a previous refugee claim.</li>
</ul>

Please see the IRB website to find out more about making an asylum claim in Canada.

In addition, people who are subject to a removal order cannot make a refugee claim.</p></div>

<div><h2>How does the process work?</h2>
<p>Refugees are able to speed up the process of their application by filling it out online and submitting the appropriate documents online. Representatives from various countries are available to answer questions and assist with applications. The process allows applications to be printed faster.  Refugees can check the status of their application by viewing it online.</p>

<div><h2>Where can I fill out an applications?</h3>
<p>Please fill out this <a href='../documentations/new'>form</a> after signing into your account.</div>