<<<<<<< HEAD
<h3>Documentation</h3>

<%= form_for @documentation do |f| %>
  <p>
    <%= f.text_field_tag :search, params[:search] %>
    <%= f.submit_tag "Search", :name => nil %>
  </p>
<% end %>
=======
<p id="notice"><%= notice %></p>

<h1>Documentation</h1>

>>>>>>> documentation

